@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'poppins' , 'arial';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-contanier {
  background: #6700ee;
}

.nav-contanier a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #00f7ff;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0em 1em;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background: #6e00ff;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #ff64cb;
}

span {
  margin-top: 1em;
  margin-right: 0.5em;
}

.scroll {
  width: 20px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #e5d5fa;
}

.subtitle {
  font-weight: bold;
  color: #6e00ff;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: -.4em;
  display: block;
}

.featured-desp {
  color: #252525;
  margin-top: 3em;
  font-size: .9 em;
  font-weight: 500;
  line-height: 1.8em;
}

.skills {
  background: #ff64cb;
}

.skill-contanier ul li {
  background: white;
  padding: 3em;
  border-radius: 1em;
  margin: 1em;
}

.skill-contanier ul li .icon-contanier {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skill-contanier ul li .icon-contanier.one {
  width: 250px;
}

.skill-contanier ul li .icon-contanier.two {
  width: 230px;
}

.skill-contanier ul li .icon-contanier.three {
  width: 220px;
}

.skill-contanier ul li .skill-title {
  font-weight: bold;
}

.skill-contanier ul li .title-desp {
  margin-top: 2em;
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 1em;
    margin-top: 2em;
  }
  .skills {
    margin-top: -5em;
    padding-top: 7em;
    margin-bottom: -7em;
  }
  .skill-contanier ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-contanier {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-contanier header {
    background: #6700ee;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .footer-nav {
    display: -ms-grid;
    display: grid;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #6700ee;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 2em;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 2em;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

.ellipse {
  animation: anim 1s infinite alternate-reverse;
}

@-webkit-keyframes anim {
  from {
    -webkit-transform: translate(297px, 682px);
            transform: translate(297px, 682px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(297px, 710px);
            transform: translate(297px, 710px);
  }
}

@keyframes anim {
  from {
    -webkit-transform: translate(297px, 682px);
            transform: translate(297px, 682px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(297px, 710px);
            transform: translate(297px, 710px);
  }
}



.skill{
  font-size: 30px;
  color: #6e00ff;
  line-height: -1em;
  
}
.skill-N{
  display: flex;
  justify-content: space-between;
  background-color: #f6c6e6;
  font: bolder;

}
.space{
  margin-left: 15px;
  margin-right: 15px;
}

.projects h1{
  font-size: 40px;
text-align: center;
margin-top: 55px;
margin-bottom: 55px;

}
button{
background-color: #e5d5fa;
  border: 1px;
  margin-left: 47.3%;
  font-size: 15px;
  border-radius: 50px;
  justify-content: center;
  font-size: bold;
cursor: pointer;
margin-bottom: -70px;
}
.love{
  font-size: small;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */